[jabber]
# Jabber ID and password for kabbit
bot_jid=bot@example.com
bot_password=secret

# This users will be allowed to use kabbit
# You can seperate JID's by commas.

allowed_users=user1@example.com,user2@example.com

[main]

#valid options are: warning and error
log_level=warning

log_file=/var/log/kabbit.log
