[bot1]

# Jabber ID and password for kabbit
bot_jid=bot@example.com
bot_password=secret
visibility=private


# This users will be allowed to use privileged functions,
# such as load/remove plugins
# You can seperate JID's by commas.

admin_users=user1@example.com,user2@example.com


#the adminstrators email should be preserved here.
# may be shown with the "help" command
admin_email=admin@example.com


plugin_dir=/usr/lib/kabbit/plugins/

#valid options are: warning and error
log_level=warning


log_file=/var/log/kabbit/kabbit.log

access_log = /var/log/kabbit/access.log